@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    line-height: 1;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Display';
    src: url('/Display.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-ExtraLight.ttf');
}
:root {
    --primary: #38b6ff;
    --primarysec: #2c9bdc;
    --sec: #774fac;
}
#__next,
body,
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    line-height: 1;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: sticky;
    z-index: 30;
    top: 0;
}

.center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    opacity: 0;
    transition: all 0.2s ease-in;
}

.loaded {
    opacity: 1;
    transition: all 0.2s ease-in;
}
@keyframes slide {
    0% {
        top: 150px;
    }

    100% {
        top: 0;
    }
}
@keyframes hop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.25rem);
    }

    100% {
        transform: translateY(0);
    }
}

.scroller::-webkit-scrollbar {
    width: 0.5rem;
}
.scroller2::-webkit-scrollbar {
    width: 0.25rem;
}

@layer components {
    .text-vertical {
        writing-mode: vertical-rl;
    }
    .scroller::-webkit-scrollbar-track {
        @apply bg-[#f1f1f1] dark:bg-transparent;
    }
    .scroller::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        @apply bg-primary dark:bg-primary;
    }
    .scroller2::-webkit-scrollbar-track {
        @apply bg-[#f1f1f1] dark:bg-transparent;
    }
    .scroller2::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        @apply bg-primary dark:bg-primary;
    }

    .custom-shadow {
        box-shadow: 0 0 4px #00000060;
    }
    .custom-dark-shadow {
        box-shadow: 0 0 4px #ffffff60;
    }
    .custom-dark-shadow2 {
        box-shadow: 0 0 5px #0000001c;
    }
    .notification-item-shadow {
        box-shadow: 0 0 8px rgb(106, 200, 255, 0.8);
    }
    .margin {
        @apply mx-8
   xs:ml-16;
    }
    .padding {
        @apply px-44 2xl:px-24 xl:px-10 xs:px-6;
    }

    .custom-react-select > input:placeholder-shown {
        @apply dark:text-[#a1a1a1];
    }
    .custom-react-select > div:nth-child(3) {
        @apply dark:bg-darkbg dark:text-bg;
    }
    .custom-react-select > div:nth-child(3) div {
        @apply dark:text-bg  dark:bg-transparent;
    }

    .custom-react-select > div:nth-child(4) {
        @apply dark:bg-darkbg dark:text-bg;
    }
    .dark .custom-react-select > div:nth-child(4) {
        box-shadow: 0 0 4px #ffffff50;
    }
    .custom-react-select > div:nth-child(4) > div > div {
        @apply dark:bg-darkbg;
    }
    .custom-react-select > div:nth-child(4) > div > div:hover {
        @apply dark:bg-primary;
    }
    .carousel .control-dots .dot.selected {
        @apply bg-primary dark:bg-primary;
    }
}
.carousel-root {
    height: 100%;
}
.carousel .carousel-status {
    font-size: 18px !important;
}
.carousel .control-arrow {
    opacity: 0.8 !important;
    background-color: transparent !important;
}
.carousel .control-next::before {
    border-left-color: #38b6ff !important;
    border-right-color: transparent !important;
    border-width: 15px !important;
    margin: 0 !important;
}
.carousel .control-prev::before {
    border-left-color: transparent !important;
    border-width: 15px !important;
    border-right-color: #38b6ff !important;
    margin: 0 !important;
}
.carousel .slide * {
    text-align: left;
}
.carousel.carousel-slider,
.carousel .slider-wrapper {
    height: 100%;
    min-height: 100%;
}

.select {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggc3Ryb2tlPScjNzE3MTdhJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMS41JyBkPSdNNiA4bDQgNCA0LTQnLz48L3N2Zz4=');
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    appearance: none;
    -webkit-appearance: none;
}
.switch > div:first-child {
    background-color: inherit !important;
}
@media (prefers-color-scheme: dark) {
    .dark input.w-full:-webkit-autofill,
    .dark input.w-full:-webkit-autofill:hover,
    .dark input.w-full:focus-visible {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #ffffff;
        box-shadow: inset 0 0 20px 20px #23232329;
        background-color: black !important;
    }
}
input.w-full:-webkit-autofill,
input.w-full:-webkit-autofill:hover,
input.w-full:focus-visible {
    background-color: transparent !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    box-shadow: inset 0 0 20px 20px transparent;
}
/* React Doc Viewer */

:is(.dark) #react-doc-viewer #header-bar {
    background-color: rgb(24 26 27);
}
:is(.dark) #react-doc-viewer #header-bar #file-name {
    color: rgb(255 255 255);
}
/* Account setting */

.accountSetting::before {
}
.asShadow {
    box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.4);
}
